.container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
}

.loginText {
  margin: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 크기 계산 */
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 15px;
}

.button {
  padding: 10px;
  font-size: 16px;
  background-color: #898989;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.linkContainer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.guide {
  margin-top: 10px;
}

.linkText {
  color: #898989;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}

.linkText:hover {
  color: #555;
}

/* 반응형 스타일 */
@media (max-width: 520px) {
  .container {
    width: 90%; /* 화면 크기에 맞춰 자동 조정 */
    max-width: 350px;
    margin: 30px auto;
    padding: 15px;
  }

  .input {
    font-size: 13px; /* 작은 화면에서 입력 필드 폰트 크기 조정 */
    padding: 8px;
  }

  .button {
    font-size: 14px;
    padding: 8px;
  }

  .linkContainer {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 95%;
    max-width: 300px;
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .input {
    font-size: 12px;
    padding: 6px;
  }

  .button {
    font-size: 13px;
    padding: 7px;
  }

  .linkText {
    font-size: 12px;
  }
}