.signupContainer {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.emailContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* 입력 필드와 버튼 사이의 간격 */
}

.name,
.email,
.password,
.phoneNumber,
.birthDate,
.address,
.age,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.emailContainer input {
  flex-grow: 1; /* 이메일 입력 필드가 가능한 한 넓어짐 */
}

.checkEmailButton {
  background-color: #898989;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 15px; /* 상하 패딩은 10px, 좌우 패딩은 15px로 설정 */
  white-space: nowrap;  /* 버튼 텍스트가 줄 바꿈 되지 않도록 */
  width: auto;  /* 버튼의 너비를 자동으로 설정 */
}

.checkEmailButton:hover {
  background-color: #555;
}

.checkEmailButton,
.signupButton {
  padding: 10px 15px;
  background-color: #898989;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.signupButton {
  width: 100%;
}

button:hover {
  background-color: #555;
}

.success {
  color: #4caf50; /* 연두색 */
}

.errorText {
  color: #ff4d4d; /* 빨간색 */
  font-size: 0.9rem;
  margin-top: 5px;
}

.successText {
  color: #4caf50; /* 연두색 */
  font-size: 0.9rem;
  margin-top: 5px;
}

/* 반응형 스타일 */
@media (max-width: 520px) {
  .signupContainer {
    width: 90%;
    max-width: 350px;
    margin: 30px auto;
    padding: 15px;
  }

  input,
  select {
    font-size: 13px;
    padding: 8px;
  }

  .checkEmailButton, button {
    font-size: 14px;
    padding: 8px;
  }

  .title {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .signupContainer {
    width: 95%;
    max-width: 300px;
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  input,
  select {
    font-size: 12px;
    padding: 6px;
  }

  .checkEmailButton, button {
    font-size: 13px;
    padding: 7px;
  }
}